body{
	margin:0;
	text-align: center;
	background-color: orange;
	background-size: cover;
}

.btnbasdepage{
	float:right;
	position: relative;
	top: 70px;	
}
.haut{
	text-align: center;
}
.titre{
	visibility: hidden;
}
.sousphoto{
	font-size: 26px;
	color: green;
	padding: 10px;
	text-shadow: 4px 4px 10px red;
	letter-spacing: 3px;

}
.retour{
	position: fixed;
	top: 70px;
	left: 0;
	

}
a{
	background-color: black;
	color: red;
	letter-spacing: 3px;
	text-decoration: none;
	
	padding: 10px;
}

a:hover{
	background-color: orange;
	transition: 2s;
}

h1{
	padding: 10px;
	margin-left:  100px;
	margin-right:  100px;
	background-color: black;
	color: red;
	letter-spacing: 3px;
	font-weight: 100;
	border-radius: 10%;
	text-shadow: -5px -5px white, 1px 3px black;
}

h2{
	background-color: black;
	color:red;
	letter-spacing: 2px;
	font-weight: 100;

}

h3{
	background-color: black;
	letter-spacing: 2px;
	font-weight: 100;
	font-size: 20px;
	box-shadow: 10px 10px 10px grey;
	text-transform: uppercase;
	color: green;

}

.ma-photo{
	border-radius: 350px;
	box-shadow: 0px 0px 3px 3px  white;
}
.citation{
	background-color: inherit;
	letter-spacing: 14px;
	line-height: 80px;
	text-shadow: 5px 5px 5px yellow;
}
p{
	color: green;
	letter-spacing: 2px;
	font-weight: 100;
	font-size: 15px;
}